@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

.container {
  width: 540px;
  margin: 0 auto; }

.game-container {
  position: relative;
  padding: 10px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  width: 540px;
  height: 540px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.board-container {
  position: absolute;
  z-index: 1; }

.board-row {
  margin-bottom: 10px; }
  .board-row:last-child {
    margin-bottom: 0; }
  .board-row:after {
    content: "";
    display: block;
    clear: both; }

.board-cell {
  margin-right: 10px;
  width: 96px;
  height: 96px;
  float: left;
  background-color: #e6e6e6;
  border-radius: 48px; }
  .board-cell:last-child {
    margin-right: 0; }

.pieces-container {
  position: absolute;
  z-index: 2; }

.piece, .piece .piece-inner {
  width: 96px;
  height: 96px;
  line-height: 96px; }
.piece.piece-position-0-0 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.piece.piece-position-0-1 {
  -webkit-transform: translate(0px, 106px);
  -moz-transform: translate(0px, 106px);
  transform: translate(0px, 106px); }
.piece.piece-position-0-2 {
  -webkit-transform: translate(0px, 212px);
  -moz-transform: translate(0px, 212px);
  transform: translate(0px, 212px); }
.piece.piece-position-0-3 {
  -webkit-transform: translate(0px, 318px);
  -moz-transform: translate(0px, 318px);
  transform: translate(0px, 318px); }
.piece.piece-position-0-4 {
  -webkit-transform: translate(0px, 424px);
  -moz-transform: translate(0px, 424px);
  transform: translate(0px, 424px); }
.piece.piece-position-0-5 {
  -webkit-transform: translate(0px, 530px);
  -moz-transform: translate(0px, 530px);
  transform: translate(0px, 530px); }
.piece.piece-position-1-0 {
  -webkit-transform: translate(106px, 0px);
  -moz-transform: translate(106px, 0px);
  transform: translate(106px, 0px); }
.piece.piece-position-1-1 {
  -webkit-transform: translate(106px, 106px);
  -moz-transform: translate(106px, 106px);
  transform: translate(106px, 106px); }
.piece.piece-position-1-2 {
  -webkit-transform: translate(106px, 212px);
  -moz-transform: translate(106px, 212px);
  transform: translate(106px, 212px); }
.piece.piece-position-1-3 {
  -webkit-transform: translate(106px, 318px);
  -moz-transform: translate(106px, 318px);
  transform: translate(106px, 318px); }
.piece.piece-position-1-4 {
  -webkit-transform: translate(106px, 424px);
  -moz-transform: translate(106px, 424px);
  transform: translate(106px, 424px); }
.piece.piece-position-1-5 {
  -webkit-transform: translate(106px, 530px);
  -moz-transform: translate(106px, 530px);
  transform: translate(106px, 530px); }
.piece.piece-position-2-0 {
  -webkit-transform: translate(212px, 0px);
  -moz-transform: translate(212px, 0px);
  transform: translate(212px, 0px); }
.piece.piece-position-2-1 {
  -webkit-transform: translate(212px, 106px);
  -moz-transform: translate(212px, 106px);
  transform: translate(212px, 106px); }
.piece.piece-position-2-2 {
  -webkit-transform: translate(212px, 212px);
  -moz-transform: translate(212px, 212px);
  transform: translate(212px, 212px); }
.piece.piece-position-2-3 {
  -webkit-transform: translate(212px, 318px);
  -moz-transform: translate(212px, 318px);
  transform: translate(212px, 318px); }
.piece.piece-position-2-4 {
  -webkit-transform: translate(212px, 424px);
  -moz-transform: translate(212px, 424px);
  transform: translate(212px, 424px); }
.piece.piece-position-2-5 {
  -webkit-transform: translate(212px, 530px);
  -moz-transform: translate(212px, 530px);
  transform: translate(212px, 530px); }
.piece.piece-position-3-0 {
  -webkit-transform: translate(318px, 0px);
  -moz-transform: translate(318px, 0px);
  transform: translate(318px, 0px); }
.piece.piece-position-3-1 {
  -webkit-transform: translate(318px, 106px);
  -moz-transform: translate(318px, 106px);
  transform: translate(318px, 106px); }
.piece.piece-position-3-2 {
  -webkit-transform: translate(318px, 212px);
  -moz-transform: translate(318px, 212px);
  transform: translate(318px, 212px); }
.piece.piece-position-3-3 {
  -webkit-transform: translate(318px, 318px);
  -moz-transform: translate(318px, 318px);
  transform: translate(318px, 318px); }
.piece.piece-position-3-4 {
  -webkit-transform: translate(318px, 424px);
  -moz-transform: translate(318px, 424px);
  transform: translate(318px, 424px); }
.piece.piece-position-3-5 {
  -webkit-transform: translate(318px, 530px);
  -moz-transform: translate(318px, 530px);
  transform: translate(318px, 530px); }
.piece.piece-position-4-0 {
  -webkit-transform: translate(424px, 0px);
  -moz-transform: translate(424px, 0px);
  transform: translate(424px, 0px); }
.piece.piece-position-4-1 {
  -webkit-transform: translate(424px, 106px);
  -moz-transform: translate(424px, 106px);
  transform: translate(424px, 106px); }
.piece.piece-position-4-2 {
  -webkit-transform: translate(424px, 212px);
  -moz-transform: translate(424px, 212px);
  transform: translate(424px, 212px); }
.piece.piece-position-4-3 {
  -webkit-transform: translate(424px, 318px);
  -moz-transform: translate(424px, 318px);
  transform: translate(424px, 318px); }
.piece.piece-position-4-4 {
  -webkit-transform: translate(424px, 424px);
  -moz-transform: translate(424px, 424px);
  transform: translate(424px, 424px); }
.piece.piece-position-4-5 {
  -webkit-transform: translate(424px, 530px);
  -moz-transform: translate(424px, 530px);
  transform: translate(424px, 530px); }
.piece.piece-position-5-0 {
  -webkit-transform: translate(530px, 0px);
  -moz-transform: translate(530px, 0px);
  transform: translate(530px, 0px); }
.piece.piece-position-5-1 {
  -webkit-transform: translate(530px, 106px);
  -moz-transform: translate(530px, 106px);
  transform: translate(530px, 106px); }
.piece.piece-position-5-2 {
  -webkit-transform: translate(530px, 212px);
  -moz-transform: translate(530px, 212px);
  transform: translate(530px, 212px); }
.piece.piece-position-5-3 {
  -webkit-transform: translate(530px, 318px);
  -moz-transform: translate(530px, 318px);
  transform: translate(530px, 318px); }
.piece.piece-position-5-4 {
  -webkit-transform: translate(530px, 424px);
  -moz-transform: translate(530px, 424px);
  transform: translate(530px, 424px); }
.piece.piece-position-5-5 {
  -webkit-transform: translate(530px, 530px);
  -moz-transform: translate(530px, 530px);
  transform: translate(530px, 530px); }

.piece {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .piece .piece-inner {
    border-radius: 48px;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 35px; }

/*
 * Modifiers
 */
.piece-a .piece-inner {
  background-color: #f30053;
  color: white; }

.piece-b .piece-inner {
  background-color: #00bcd4;
  color: white; }

/*
 * Animation class
 */
.piece-new .piece-inner {
  z-index: 20;
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.piece-disappear .piece-inner {
  z-index: 20;
  -webkit-animation: disappear 400ms ease 100ms;
  -moz-animation: disappear 400ms ease 100ms;
  animation: disappear 400ms ease 100ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/*
 * Animation keyframes
 */
@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes disappear {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }
@-moz-keyframes disappear {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }
@keyframes disappear {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }

/*# sourceMappingURL=main.css.map */
