@import "tools";

@include myfonts;

//size
$field-width: 480px;
$num-cell-x: 5;
$num-cell-y: 5;
$cell-margin: 10px;
$cell-size: ($field-width - $cell-margin * ($num-cell-x + 1)) / $num-cell-x;
$tile-border-radius: $cell-size / 2;
$score-font-size: 40px;
$piece-font-size: 30px;
$mobile-width: 520px;

//color
$tile-color: #515151;
$text-color: #999999;
$red: #f30053;
$blue: #00bcd4;
$color-empty-cell: #565656;
$background: #2e2e2e;

//animations
$transition-speed: 100ms;

//howTopages
$howToPages: 5;

$game-container-margin-top: 40px;

html, body {
  margin: 0;
  padding: 0;
  background: $background;
  font-family:"robotoregular", "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
  height: 100%
}

body {

  min-height: 100%;
}

.heading {
  @include clearfix;
}

h1, h3, p, ol, ul {
 color: $text-color;
}

hr {
  color: $text-color;
  background-color: $text-color;
  height: 1px;
  width: 80%;
  border: 0 none;
  margin: 2em;
}

.score-container, .best-container, .moves-left {
  font-family: "robotoblack", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  display: inline-block;
  padding: 15px $cell-margin;
  font-size: $score-font-size;
  line-height: $score-font-size;
  font-weight: bold;
  color: $text-color;
  text-align: center;


  .score-addition {
    position: absolute;
    color: $red;
    font-weight: bold;
    z-index: 12;
    @include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);
  }

}

.moves-left {
  font-size: $score-font-size / 2;
}


.score-container {
  color: $red;
  float: left;
}

.best-container {
  color: $blue;
  float: right;
}

.container {
  width: $field-width;
  margin: 0 auto;
}

.mainMenu {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($background, 1);
  z-index:20;
  text-align: center;
  margin: 0 auto;

}

.howTo {
  display: none;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba($background, 1);
  z-index:15;
  text-align: center;
  margin: 0 auto;
}

.howToContainer {
  display: none;
}

.howToContainer1 {
  display: block;
}

.howToImage {
  background-repeat: no-repeat;
  background-position: center center;
  width: 470px;
  height: 88px;
  margin-top: 2em;
  margin-bottom:  2em;
}

@for $v from 0 through $howToPages {
  .howToImage#{$v} {
    background-image: url("../asset/hi/howTo_#{$v}.gif");
  }
}

.play-button {
  background-image: url("../asset/hi/play.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: $cell-size * 2 !important;
  height: $cell-size * 2 !important;
  border-radius:  $tile-border-radius * 2 !important;

}

.how-button {
  background-image: url("../asset/hi/question.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.back-button, .back-button-howTo {
  background-image: url("../asset/hi/back.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.next-button {
  background-image: url("../asset/hi/next.png");
  background-repeat: no-repeat;
  background-position: center center;
}


.howToBottom {
  position:absolute;
  bottom: 25px;

}


.restart-button, .retry-button {
  background-image: url("../asset/hi/repeat.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-left {
  @include animation(slide-left ease-in-out $transition-speed * 5);
  @include animation-fill-mode(both);
}

.slide-right {
  @include animation(slide-right ease-in-out $transition-speed * 5);
  @include animation-fill-mode(both);
}


.menuContainer {
  //position: absolute;
  text-align: center;
}

.howToContainer {
  width: $field-width;
  height: $field-width;
  margin: 0 auto;
  padding: $cell-margin;
  text-align: left;
  //background-image: url("../asset/hi/howto.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 50px;
}


// Styles for buttons
@mixin button {
  display: inline-block;
  background-color: $color-empty-cell;
  border-radius: $tile-border-radius;
  text-decoration: none;
  color: $text-color;
  height: $cell-size;
  width: $cell-size;
  line-height: $cell-size;
  font-size: $piece-font-size;
  font-weight: bold;
}

.menuHeading {
  text-align: center;
  background-image: url("../asset/hi/title.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: $field-width;
  height: 200px;margin: 0 auto;
  margin-bottom: 100px;
}

.howToHeading {
  //margin-top: $cell-size;
}

.menuButton {
  @include button;
  margin: $cell-margin / 2;
  @include box_shadow(2);
}

.menuButton:active {
  @include box_shadow(1);
}

.piece .piece-inner:active {
  @include box_shadow(2);
}




@mixin game-field {
  .game-container {
    position: absolute;
    padding: $cell-margin;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    //background: $game-container-background;
    //border-radius: $tile-border-radius * 2;
    width: $field-width;
    height: $field-width;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($background, 1);
      z-index: 100;
      text-align: center;

      p {
        font-size: $score-font-size;
        font-weight: bold;
        color: $text-color;
      }

      .lower {
        display: block;
        margin-top: 59px;
      }

      a {
        @include button;

      }

      @include animation(fade-in 800ms ease $transition-speed * 12);
      @include animation-fill-mode(both);

      &.game-won {
        background: rgba($background, 1);
        color: $text-color;

      }

      &.game-won, &.game-over {
        display: block;
      }
    }
  }

  .board-container {
    position: absolute;
    z-index: 1;
  }

  .board-row {
    margin-bottom: $cell-margin;

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .board-cell {
    margin-right: $cell-margin;
    width: $cell-size;
    height: $cell-size;
    float: left;
    background-color: $color-empty-cell;
    //border: 1px solid white;
    border-radius: $tile-border-radius;
    //@include inner-shadow;

    &:last-child {
      margin-right: 0;
    }
  }

  .pieces-container {
    position: absolute;
    z-index: 2;
  }

  .piece {
    &, .piece-inner {
      width: ceil($cell-size);
      height: ceil($cell-size);
      line-height: ceil($cell-size);

    }

    @for $x from 1 through $num-cell-x {
      @for $y from 1 through $num-cell-y {
        &.piece-position-#{$x}-#{$y} {
          $xPos: floor(($cell-size + $cell-margin) * ($x - 1));
          $yPos: floor(($cell-size + $cell-margin) * ($y - 1));
          @include transform(translate($xPos, $yPos));
        }
      }
    }
  }
}

// End of game-field mixin
@include game-field;



.piece {
  position: absolute; // Makes transforms relative to the top-left corner

  .piece-inner {
    border-radius: $tile-border-radius;
    //background: black;
    text-align: center;
    font-weight: bold;
    //color:white;
    z-index: 10;
    font-size: $piece-font-size;
  }

  // Movement transition
  @include transition($transition-speed ease-in-out);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;

}



.piece-a .piece-inner {
  background-color: #f30053;
  color: white;

}

.piece-b .piece-inner {
  background-color: #00bcd4;
  color: white;
}



.piece-new .piece-inner {
  z-index: 20;
  @include animation(appear $transition-speed * 2 ease $transition-speed);
  @include animation-fill-mode(backwards);
}

.piece-disappear .piece-inner{
  z-index: 20;
  @include animation(disappear $transition-speed * 4 ease $transition-speed);
  @include animation-fill-mode(forwards);

}

@include keyframes(appear) {
  0% {
    @include transform(scale(0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}


@include keyframes(disappear) {
  0% {

    @include transform(scale(1));
    @include transform(opacity(1))
  }

  50% {
    @include transform(scale(1.2));

  }

  100% {
    @include transform(scale(0));
    @include transform(opacity(0));
  }
}


@include keyframes(move-up) {
  0% {
    top: 25px;
    opacity: 1;
  }

  100% {
    top: -50px;
    opacity: 0;
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(slide-left) {
  0% {
    //opacity: 1;
    left:0;
  }

  100% {
    //opacity: 0;
    left: -100%;
  }
}

@include keyframes(slide-right) {
  0% {
    //opacity: 1;
    left:-100%;
  }

  100% {
    //opacity: 0;
    left: 0;
  }
}


.above-game {
  @include clearfix;
  text-align: center;
}


.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0;
}

.restart-button {
  @include button;
  //display: block;
  text-align: center;
  //float: right;
}


/*
 *Mobile media
 */

$field-width: 310px;
$num-cell-x: 5;
$num-cell-y: 5;
$cell-margin: 8px;
$cell-size: ($field-width - $cell-margin * ($num-cell-x + 1)) / $num-cell-x;
$tile-border-radius: $cell-size / 2;
$score-font-size: 30px;
$piece-font-size: 20px;
$game-container-margin-top: 10px;

@include smaller($mobile-width) {
  body {
    //margin: 20px 0;
  }

  .container {
    width: $field-width;
    height: 100%;
  }

  .score-container, .best-container, .moves-left {
    padding: 5px 7px;
    font-size: $score-font-size;
    line-height: $score-font-size;
  }

  .moves-left {
    font-size: $score-font-size / 2;
  }

  .score-addition {
    font-size: $score-font-size;
    line-height: $score-font-size;
  }

  .button {
    border-radius: $tile-border-radius;
    height: $cell-size;
    width: $cell-size;
    line-height: $cell-size;
    font-size: $piece-font-size;
  }

  .game-container {
    margin-top: $game-container-margin-top;
    padding: $cell-margin;
    width: $field-width;
    height: $field-width;
    bottom: 150px;
  }

  .game-message p {
    font-size: $score-font-size;
  }

  .board-row {
    margin-bottom: $cell-margin;
  }

  .board-cell {
    margin-right: $cell-margin;
    width: $cell-size;
    height: $cell-size;
    float: left;
    border-radius: $tile-border-radius;
  }

  .piece {
    &, .piece-inner {
      width: ceil($cell-size);
      height: ceil($cell-size);
      line-height: ceil($cell-size);
      font-size: $piece-font-size;
    }

    @for $x from 1 through $num-cell-x {
      @for $y from 1 through $num-cell-y {
        &.piece-position-#{$x}-#{$y} {
          $xPos: floor(($cell-size + $cell-margin) * ($x - 1));
          $yPos: floor(($cell-size + $cell-margin) * ($y - 1));
          @include transform(translate($xPos, $yPos));
        }
      }
    }
  }

  .restart-button {
    @include button;
  }

  .score-addition {
    font-size: $score-font-size;
    line-height: $score-font-size;
  }

  .menuHeading {
    //width: $field-width;
    margin-bottom: $cell-size * 2;
    margin-top: $cell-size;
  }

  .howToHeading {
    margin-top: $cell-size;
  }

  .menuButton {
    @include button;
    margin: $cell-margin / 2,
  }

  .howToContainer {
    //width: $field-width;
    // margin: auto;
    padding: $cell-margin;
  }



  .play-button {
    background-image: url("../asset/low/play.png");
    width: $cell-size * 2 !important;
    height: $cell-size * 2 !important;
    border-radius:  $tile-border-radius * 2 !important;
  }

  .next-button {
    background-image: url("../asset/low/next.png");
  }

  .how-button {
    background-image: url("../asset/low/question.png");
  }

  .back-button, .back-button-howTo {
    background-image: url("../asset/low/back.png");
  }


  .restart-button, .retry-button {
    background-image: url("../asset/low/repeat.png");
  }

  .howToImage {
    width: 300px;
    height: 56px;
  }

  @for $v from 0 through $howToPages {
    .howToImage#{$v} {
      background-image: url("../asset/low/howTo_#{$v}.gif");
    }
  }

  .howToContainer {
    width: $field-width;
    height: $field-width + 50;
    margin: 0 auto;
    padding: $cell-margin;
    //background-image: url("../asset/low/howto.png");
    //margin-bottom: 50px;
  }

  .menuHeading {

    text-align: center;
    background-image: url("../asset/low/title.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: $field-width;
    height: 150px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .score-addition {
    font-size: $score-font-size;
    line-height: $score-font-size;
  }



}


/*
  tablets
 */

@media
only screen and (orientation:portrait) {
  .game-container {
    bottom: 100px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (max-width: 320px) {
  .game-container {
    bottom: 50px;
  }

  body {
    margin: 0;
  }

  .menuHeading {
    padding-bottom: 50px;
  }
}
